@model string

<h2>
    It is Partial view: @Model @*ТУТ ВЫВЕДЕТСЯ ФИШ*@
</h2>
<h2>
     It is Partial view: @ViewBag.Partial @*ТУТ ВЫВЕДЕТСЯ ПАРШИАЛ*@ 
     @*В ОТДЕЛЬНЫЕ H2 ВЫВЕЛОСЬ ЧТОБ В ОДНУ СТРОКУ НЕ ЛИПЛО*@
</h2>

